.questions {
	width: 1098px;
	margin: 65px auto 0px;
	@media (max-width: 375px) {
		width: 345px;
	}
	h4 {
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
	}
	.q-block {
		.block-p {
			width: 1098px;
			height: 72px;
			display: flex;
			flex-direction: row;
			justify-content: space-between;
			background: #d9d9d9;
			border-radius: 4px;
			@media (max-width: 375px) {
				font-weight: 400;
				font-size: 16px;
				line-height: 19px;
				width: 345px;
			}
			img {
				width: 15px;
				height: 5px;
				margin: auto 24px;
			}
			p {
				margin: auto 29px;
				padding: 0px;
				font-style: normal;
			}
		}
		.closed {
			width: 1044px;
			margin: 22px auto;
			@media (max-width: 375px) {
				font-weight: 400;
				font-size: 20px;
				line-height: 23px;
				width: 345px;
				margin: 15px 5px;
			}
		}
	}
}
