.testim {
	margin: 0px;
	width: 1254px;
	height: 517px;
	background-color: #e8e8e8;
	@media (max-width: 430px) {
		width: 375px;
	}
	h4 {
		margin: 0px 0px 20px 80px;
		padding-top: 114px;
		font-style: normal;
		font-weight: 600;
		font-size: 24px;
		line-height: 28px;
		@media (max-width: 430px) {
			padding-top: 50px;
			margin-left: 130px;
		}
	}
}
.slider {
	width: 560px;
	height: 243px;
	background: rgba($color: #83308a, $alpha: 0.5);
	border-radius: 10px;
	color: #ffffff;
	@media (max-width: 430px) {
		width: 345px;
		height: 300px;
		margin-left: 15px;
	}
	.top {
		display: flex;
		flex-direction: row;
		padding: 15px 0px 0px 17px;
		p {
			font-style: normal;
			font-weight: 600;
			font-size: 20px;
			line-height: 23px;
			padding: 0px;
			margin: auto 9px;
		}
	}
	.bottom {
		padding: 15px 0px 0px 17px;
		@media (max-width: 430px) {
			padding: 5px 0px 0px 17px;
		}
		p {
			padding: 0px;
			font-style: normal;
			font-weight: 400;
			font-size: 20px;
			line-height: 23px;
			width: 512px;
			@media (max-width: 430px) {
				width: 325px;
			}
		}
	}
}

@media screen and (max-width: 430px) {
	.swiper {
		width: 375px;
	}
}

/*@media screen and (min-width: 431px) {
	.swiper {
		width: 1250px;
	}
}*/
