@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;300;400;500;600;700&display=swap");
.main-header {
	display: flex;
	flex-direction: row;
	width: 1260px;
	justify-content: space-between;
	margin: 0px auto;
	@media (max-width: 430px) {
		flex-direction: column;
		width: 375px;
	}

	.main-description {
		width: 702px;
		height: 804px;
		padding-left: 71px;
		margin-top: 0px;
		background-image: url(../../public/img/background1.png);
		background-repeat: no-repeat;
		.style {
			margin-top: 79px;
			display: flex;

			@media (max-width: 430px) {
				margin-top: 0px;
				margin-left: 20px;

				p {
					font-weight: 700;
					font-size: 20px;
					line-height: 23px;
					width: 256px;
					margin-top: 25px;
				}
			}
		}
		@media (max-width: 430px) {
			width: 375px;
			height: 527px;
			padding-left: 0px;
			background-size: contain;
		}
		img {
			width: 99px;
			height: 102px;
		}
		h1 {
			width: 324px;
			height: 82px;
			font-style: normal;
			font-weight: 600;
			font-size: 70px;
			line-height: 82px;
			color: #83308a;
			margin-bottom: 54px;
			@media (max-width: 430px) {
				font-size: 48px;
				line-height: 56px;
				margin-bottom: 50px;
				margin-left: 20px;
			}
		}
		h2 {
			width: 533px;
			height: 132px;
			font-style: normal;
			font-weight: 600;
			font-size: 36px;
			line-height: 44px;
			margin-bottom: 87px;
			@media (max-width: 430px) {
				font-size: 24px;
				line-height: 29px;
				width: 324px;
				margin-bottom: 0px;
				margin-left: 20px;
			}
		}
		p {
			width: 542px;
			height: 42px;
			font-weight: 600;
			font-size: 24px;
			line-height: 28px;
			align-items: center;
			margin: 0px 0px 8px 0px;
			@media (max-width: 430px) {
				font-size: 20px;
				line-height: 23px;
				font-weight: 700;
				margin-bottom: 0px;
				margin-left: 20px;
				width: 320px;
			}
			span {
				position: absolute;
				margin-left: 15px;
				margin-bottom: 5px;
				background-color: #f87c0a;
				color: #ffffff;
				width: 190px;
				height: 42px;
				font-weight: 700;
				font-size: 20px;
				line-height: 40px;
				align-items: center;
				text-align: center;
				border-radius: 20px;
				@media (max-width: 430px) {
					font-size: 20px;
					line-height: 25px;
					width: 170px;
					height: 30px;
				}
			}
		}
		.imageText {
			width: 379px;
			height: 84px;
			margin: 15px 0px 0px 20px;
			padding: 0px;
			font-style: normal;
			font-weight: 400;
			font-size: 36px;
			line-height: 42px;
		}
	}
}
.main-form {
	background-image: url(../../public/img/background2.png);
	background-repeat: no-repeat;
	width: 492px;
	@media (max-width: 430px) {
		height: 700px;
		width: 375px;
	}
}
